*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
}
.container{
    background-color: yellowgreen;
    padding: 1.5rem;
}
.title{
    text-align: center;
    padding: 2rem 2rem 0.5rem 2rem;
    border-bottom: 2px solid black;
}
.lbl-user,.lbl-pass{
    display: block;
    margin-bottom: 1rem;
}
.check-box{
    margin-top: 0.3rem;
}
.buttons{
    text-align: center;
}
.buttons button{
    width: 5rem;
    height: 2rem;
}
.login{
    border: 2px solid green;
    background-color: lightgreen;
    border-radius: 5px;
}
.cancel{
    border: 2px solid red;
    background-color: lightcoral;
    border-radius: 5px;
}